<% field_id = "_#{SecureRandom.uuid}" %>

<field data-controller="search-field" id="<%= field_id %>">
  <input type="hidden" data-search-field-target="code" name="<%= field_name %>">
  <input type="search" name="q" data-search-field-target="query" form="<%= form_id %>" placeholder="Search" autocomplete="off" data-action="input->search-field#search">
  <button form="<%= form_id %>" type="submit" data-search-field-target="submit" style="display: none;"></button>
  <span data-search-field-target="display"></span>
</field>

<div id="<%= search_results_id %>" data-controller="search-results" data-search-results-search-field-outlet="#<%= field_id %>"
  data-search-results-target="container"></div>
